<header>
    <div class="background-container" style="background-image: url({{ asset('assets/img/headerbg.svg') }})">

    </div>
    <div class="logo-container">
        <img class="logo-game" src="{{ asset('assets/img/logo/game/logo.svg') }}" alt="">
    </div>
</header>